rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for Web Links collection
    match /links/{document} {
      allow read, write: if true;
    }
    
    // Rules for My Notes collection
    match /notes/{document} {
      allow read, write: if true;
    }
    
    // Rules for Tasks collection
    match /tasks/{document} {
      allow read, write: if true;
    }

    // Rules for App Settings/Config collection
    match /settings/{document} {
      allow read, write: if true;
    }
  }
}
